@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

//$leftBtn: rgb(250, 102, 102);
$leftBtn: rgb(66, 108, 223);
$ocean-blue: #21b3d2;

//Title colors
$title: #3ce5ca;
$title-gradient: linear-gradient(180deg, #3ce5ca, rgba(45, 149, 218, 0.333));
$title-blur: rgba(63, 247, 185, 0.4);
$button-background-gradient: linear-gradient(
  180deg,
  rgba(232, 233, 235, 0),
  #3ce5ca,
  rgba(238, 242, 245, 0)
);
$terminalBorder: rgba(
  $color: #3ce5ca,
  $alpha: 0.6,
);
$terminalBarColor: linear-gradient(#398a7c 0%, #3ce5ca 100%);

$background1: #15201a;
$doorColor: #1f2933;
//$doorBorderColor: hsl(317 100% 54%);
$doorBorderColor: #3ce5ca;
$typeSpeed: 2s;
$doorSpeed: 3s;
$button-color1: rgb(250, 102, 102);
$button-color: rgb(66, 108, 223);

user-card {
  --button-color1: rgb(250, 102, 102);

  --button-color: rgb(66, 108, 223);
}
