.door-one {
  position: absolute;
  background-color: $doorColor;
  height: 46vh;
  width: 120%;
  border-bottom: 0.1em solid $doorBorderColor;
  z-index: 1;
  //animation: doorsOpenUp $doorSpeed ease-in-out forwards;
  //   transform: skewY(30deg);
  box-shadow: 0 0 0.5em 0 $doorBorderColor,
    inset 0 -1em 1em -1em $doorBorderColor;
}

.door-two {
  position: absolute;
  //   background: url("../assets/TexturesCom_MetalScratches0090_1_M.jpg");

  //   background-size: 100% 500px;

  background-color: $doorColor;
  // background-color: rgba($color: #284939, $alpha: 0.3);
  bottom: -100rem;
  display: flex;

  width: 120%;
  border-top: $doorBorderColor 0.125em solid;
  border-top: 0.1em solid $doorBorderColor;
  z-index: 30;
  //animation: doorsOpenDown $doorSpeed ease-in-out forwards;
  transform: skewY(30deg);
  box-shadow: 0 0 0.5em 0 $doorBorderColor,
    inset 0 1em 1em -1em $doorBorderColor;
  z-index: 30;
}

.door-three {
  position: absolute;
  background-color: $doorColor;
  bottom: -100rem;
  display: flex;

  width: 120%;
  border-top: $doorBorderColor 0.125em solid;
  border-top: 0.1em solid $doorBorderColor;
  z-index: 40;
  //animation: doorsOpenDown $doorSpeed ease-in-out forwards;
  transform: skewY(-30deg);
  box-shadow: 0 0 0.5em 0 $doorBorderColor,
    inset 0 1em 1em -1em $doorBorderColor;
}
